@import './config';

.header-logo {
  color: $color-black;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 50px;
  text-align: center;
  text-decoration: none;
  width: $image-width;
}

@import './__image/header-logo__image';
@import './__subtitle/header-logo__subtitle.scss';
