@import '../../config';

.timetable {
  align-items: stretch;
  display: flex;
  overflow-x: auto;
  overflow-y: initial;
  padding: 20px $content-gap 40px;
  position: relative;
}

.timetable-wrapper {
  margin-left: -$content-gap;
  margin-right: -$content-gap;
  overflow: auto;
  width: 100vw;
}

@import './__event/timetable__event';
@import './__month/timetable__month';
@import './__month-name/timetable__month-name';
