@import '../../config';

.app-wrapper {
  display: grid;
  grid-template-rows: minmax(min-content, auto) 1fr minmax(min-content, auto);
  min-height: calc(100vh - #{$content-gap * 2});
  padding: $content-gap;
  position: relative;
}
