@import '../../config';

.footer {
  border-top: 1px solid $color-dark-gray;
  margin-top: 40px;
  padding-top: $content-gap;
}

@import './__git-icon/footer__git-icon';
@import './__link/footer__link';
@import './__paragraph/footer__paragraph';