.launch-data-short__arrow {
  background: #fff;
  bottom: -5px;
  box-shadow: 1px 1px silver, 2px 2px 4px -3px rgba(0, 0, 0, .6);
  height: 10px;
  left: calc(50% - 5px);
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
}
