.button-group__button {
  background: none;
  border: none;
  border-right: 1px solid silver;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1.4em;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background: #ebebeb;
  }
}

@import "_active/timeline-filter__button_active";